<div id="sideContents">
    <div id="myMenu" class="yS zoom1">
        <div id="myMenuHead" class="yS">
            <div id="myMenuBottom" class="yS">
                <dl>
                    <dd class="myMenuBody myPointBody yS mT0">
                        <div class="myMenuBodyHead yS">
                            <div class="myMenuMainBox pointBox yS">
                                <ul class="myMenuItems">
                                    <li class="myMenuItemsCassette">
                                        <div class="mT11 taC">
                                            <img src="/CSP/img/bt/recruit_point_155.gif?switch=20140227" width="155"
                                            alt="リクルートポイント（旧じゃらん×HOT PEPPER）" title="リクルートポイント（旧じゃらん×HOT PEPPER）">
                                        </div>
                                        <div class="grayPointBodyHead y4S mT8">
                                            <div class="grayPointBodyBox y4S">
                                                <div class="grayPointBody y4S taC">
                                                    <p>
                                                        ホットペッパービューティー
                                                        <br>
                                                        なら
                                                        <span>
                                                            &nbsp;2%&nbsp;
                                                        </span>
                                                        貯まる
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="loginArea mT7 taC">
                                            <p>
                                                ようこそ、ゲストさん。
                                            </p>
                                            <a href="#" class="btn btn2H30 mT3 tdn">
                                                <span>
                                                    <span class="b">
                                                        ログインする
                                                    </span>
                                                </span>
                                            </a>
                                            <p class="mT5">
                                                <a href="#"/>
                                                    会員登録する（無料）
                                                </a>
                                            </p>
                                            <ul class="taL mT7">
                                                <li>
                                                    <a href="javascript:void(0);" onclick="window.open('http://point.recruit.co.jp/');"
                                                    class="iS rPoint">
                                                        リクルートポイントとは
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" onclick="window.open('http://point.recruit.co.jp/?tab=pointUseServise');"
                                                    class="iS rPoint">
                                                        参画サービス一覧
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </dd>
                    <dt class="myMenuTitle cS txtLastViewedSalon offL">
                        最近見たサロン
                    </dt>
                    <dd class="myMenuBody yS mT5">
                        <div class="myMenuBodyHead yS">
                            <div class="myMenuBodyBottom yS">
                                <ul class="myMenuList">
                                    <li class="myMenuListCassette">
                                        <p class="fs10">
                                            渋谷・青山・表参道・原宿
                                        </p>
                                        <p>
                                            <a href="/slnH000231733/">
                                                Freres　フレール
                                            </a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <ul>
        <!-- 注目のサロン -->
        <div style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryTop.gif); background-position: left top;  background-repeat: no-repeat; padding-top: 3px; font-size: 12px; margin-top: 6px;">
            <div style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryBottom.gif); background-position: left bottom; background-repeat: no-repeat; padding-bottom: 3px;">
                <dl>
                    <dt style="width: 168px; background: #FBFAF5; padding-top: 2px; padding-bottom: 5px; padding-left: 10px; border-right: 1px solid #cccccc; border-left: 1px solid #cccccc; font-weight: bold; color: #797979;">
                        よくある問い合わせ
                    </dt>
                    <dd style="width: 158px; padding: 10px 15px 10px 5px; border-top: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;">
                        <ul>
                            <li>
                                <a style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryDot.gif); background-repeat: no-repeat; background-position: 5px 7px; display: inline-block; padding-left: 13px;"
                                href="http://beauty.help.hotpepper.jp/app/answers/detail/a_id/508/" target="_new">
                                    ポイントはどこで使えますか
                                </a>
                            </li>
                            <li>
                                <a style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryDot.gif); background-repeat: no-repeat; background-position: 5px 7px; display: inline-block; padding-left: 13px;"
                                href="http://beauty.help.hotpepper.jp/app/answers/detail/a_id/471/" target="_new">
                                    「即時予約」と「仮予約」の違いは何ですか
                                </a>
                            </li>
                            <li>
                                <a style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryDot.gif); background-repeat: no-repeat; background-position: 5px 7px; display: inline-block; padding-left: 13px;"
                                href="http://beauty.help.hotpepper.jp/app/answers/detail/a_id/436/" target="_new">
                                    詳細な条件でサロンを探せますか
                                </a>
                            </li>
                            <li>
                                <a style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryDot.gif); background-repeat: no-repeat; background-position: 5px 7px; display: inline-block; padding-left: 13px;"
                                href="http://beauty.help.hotpepper.jp/app/answers/detail/a_id/480/" target="_new">
                                    予約をキャンセルしたい
                                </a>
                            </li>
                            <li>
                                <a style="background-image: url(/CSP/c_bt/MYAREA/IMG/usualInquiryDot.gif); background-repeat: no-repeat; background-position: 5px 7px; display: inline-block; padding-left: 13px;"
                                href="http://beauty.help.hotpepper.jp/app/answers/detail/a_id/512/" target="_new">
                                    ポイントの残高を知りたい
                                </a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </ul>
    <div class="w180 mHA">
        <!-- 2億円CP -->
        <div class="mT10">
            <a href="/c-2oku/" target="_blank">
                <img src="/CSP/c_common/ALL/IMG/2okuen_180_70.jpg" width="180" height="70"
                alt="2億円ポイント山分けキャンペーン">
            </a>
        </div>
        <!-- 2億円CP -->
        <!-- キャンペーン一覧 -->
        <div class="taR mT10">
            <a href="/doc/cp/cplist/" target="_blank" class="iS arrowR">
                キャンペーン一覧へ
            </a>
        </div>
        <!-- /キャンペーン一覧 -->
        <!-- HPBポンパレモール -->
        <div class="mT10">
            <a href="/doc/ponparemall/" target="_blank">
                <img src="/CSP/c_common/ALL/IMG/hpb_ponpare_2_180_70.jpg" width="180"
                height="70" alt="Beautyアイテム特集">
            </a>
        </div>
        <!-- /HPBポンパレモール -->
        <!-- スマホアプリバナー -->
        <div class="mT10">
            <a href="/doc/sp/" target="_blank">
                <img src="/CSP/c_common/ALL/IMG/hpbapp_180_130.jpg" width="180" height="130"
                alt="ホットペッパービューティーのスマートフォンアプリ">
            </a>
        </div>
        <!-- /スマホアプリバナー -->
        <!-- リクルートカード -->
        <div class="mT10">
            <a href="http://recruit-card.jp/lp/hpb/20130530/?vos=cprcdprochpb130515004"
            target="_blank">
                <img src="/CSP/c_common/ALL/IMG/rc_180_130.gif" width="180" height="130"
                alt="リクルートカード">
            </a>
        </div>
        <!-- /リクルートカード -->
        <!-- ポンパレバナー -->
        <div class="mT10">
            <iframe src="http://ponpare.jp/beauty/tokyo/widget.html?vos=rwdhbtokyo"
            scrolling="no" frameborder="0" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; width:180px; height:244px;"
            allowtransparency="true" rel="nofollow">
            </iframe>
        </div>
        <!-- /ポンパレバナー -->
    </div>
</div>
