@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script language="javascript" type="text/javascript">
			$(function(){
				$("#emailLogin").click(function(){
					$("#usernameinf").text("邮箱：");
					$("#name").attr("name","email");
				});
				$("#nameLogin").click(function(){
					$("#usernameinf").text("用户名：");
					$("#name").attr("name","name");
				});
				$("#provice").click(function(){
					var provices=new Array("吉林省","辽宁省");
				});
			})
			var timer = null;
			var i=5;
			function success(){
				timer=window.setInterval(showTimes,1000);
				window.setTimeout("go()",6000);
					
					if(i==0){
						clearInterval(timer);
					}
					
				}
			function go( ) {//定义函数
	            window.location="findAll";//页面跳转
	    	 }
			function showTimes(){
					document.getElementById("times").innerHTML=i;
					i--;
				}	
         </script>
    </head>
    <body>
        @content
    </body>
</html>
