@(stylist: Stylist)


<body>
<div class="w166 mHA">
    <div class="taC">
        <a href="http://beauty.hotpepper.jp/slnH000231733/stylist/T000188298/">
            <img src="http://imgbp.hotp.jp/CSP/IMG_SRC/19/34/B003961934/B003961934_164-219.jpg"
            alt="弗里尔兄弟公司坂本隆文" class="bdImgGray w164 h219">
        </a>
    </div>
    <p class="mT10">
        <a href="http://beauty.hotpepper.jp/slnH000231733/stylist/T000188298/">
            
                   <p>@stylist.label</p>
                
        </a>
        <span class="iS upLately offL dib vaM">
           
                    UP<p>@stylist.id</p>
                
        </span>
    </p>
    <div class="bdDotT mT5 pT5 fs10">
        <span class="fgPink">
       造型师
        </span>
  （历史6岁）
    </div>
    <div class="bdDotT mT5 pT5 fs10 hMin30">
    </div>
</div>
<a href="#">指定此技师  </a>
         
        
    </div>
</div>
</body>
