@(message: String)
@import helper._
@import helper.twitterBootstrap._

@main("message"){
	<div class="content-link">
			@views.html.record.recordMenu()
	</div>	
	<div class="content-core">
	@form(controllers.record.routes.Records.recordmain(1)){
		<table cellpadding="0" cellspacing="0" class="addrecord-table">
			<tr>
				<td width="105px">预约项目</td>
				<td colspan="3">
					<select>
						<option>--美发--</option>
						<option>--护肤--</option>
						<option>--美容--</option>
						<option>--整形--</option>
						<option>--美甲--</option>
						<option>--套餐A--</option>
						<option>--套餐B--</option>
						<option>--套餐C--</option>
					</select>
					<select>
						<option>--请选择--</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>联系号码</td>
				<td colspan="3">
					<input name="">
				</td>
			</tr>
			<tr>
				<td>预计到店时间</td>
				<td colspan="3"><input type="date"></td>
				
			</tr>
			<tr>
				
				<td>预计结束时间</td>
				<td colspan="3"><input type="date"></td>
			</tr>
			<tr>
				<td>指定技师</td>
				<td colspan="3">
					<input type="radio" name="serviceDesigner" value="" id="juanfa"><label for="juanfa">tomly</label>
					<input type="radio" name="serviceDesigner" value="" id="juanfa"><label for="juanfa">sara</label>
					<input type="radio" name="serviceDesigner" value="" id="juanfa"><label for="juanfa">kven</label>
				</td>
			</tr>
			<tr>
				<td>会员留言</td>
				<td><textarea rols="4" cols="20"></textarea></td>
			</tr>
			<tr>
				<td>总计</td>
				<td colspan="3">
					<input disabled="disabled" value="￥800.00">
				</td>
			</tr>
			<tr>
				<td></td>
				<td colspan="3">
					<input type="submit" value="提交">
				</td>
			</tr>
		</table>
	}	
	</div>		
}
