@(message: String)
@import helper._
@import helper.twitterBootstrap._

@main("message"){
		<div class="content-link">
			@views.html.record.recordMenu()
		</div>
		<div class="content-core">
			<h1>技师日程查看</h1>
			技师ID<input name="designerId"/>&nbsp;&nbsp;&nbsp;<input type="button" value="搜索" />
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<div>
							<div>
								<a href="@controllers.designer.routes.Designer.designerTask"><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/05/32/B002740532/B002740532_164-219.jpg"/></a>
							</div>
							<p><a href="#">島崎 修</a></p>
							<div ><span>代表</span>（歴8年）</div>
							<div>10年後20年後も綺麗でいてもらうために☆</div>
							<a href="@controllers.designer.routes.Designer.designerTask"><p><input type="button" value="查看日程"></p></a>
						</div>
					</td>
					<td>
						<div>
							<div>
								<a href="@controllers.designer.routes.Designer.designerTask"><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/05/32/B002740532/B002740532_164-219.jpg"/></a>
							</div>
							<p><a href="#">島崎 修</a></p>
							<div ><span>代表</span>（歴8年）</div>
							<div>10年後20年後も綺麗でいてもらうために☆</div>
							<p><input type="button" value="查看日程"></p>
						</div>
					</td>
					<td>
						<div>
							<div>
								<a href="@controllers.designer.routes.Designer.designerTask"><img src="http://imgbp.hotp.jp/CSP/IMG_SRC/05/32/B002740532/B002740532_164-219.jpg"/></a>
							</div>
							<p><a href="#">島崎 修</a></p>
							<div ><span>代表</span>（歴8年）</div>
							<div>10年後20年後も綺麗でいてもらうために☆</div>
							<p><input type="button" value="查看日程"></p>
						</div>
					</td>			
				</tr>
			</table>
			
		</div>
		
	
}