@(loginForm: Form[(String, String)])
@import helper._
@import helper.twitterBootstrap._

@main(""){
	<div class="loginForm">
		<h2>登录</h2>
		<a href="#" id="nameLogin" >普通用户登录</a>
		<a href="#" id="emailLogin">邮箱登录</a>
		@form(routes.Users.tologin){
			<table>
			<tr>
				<td><label id="usernameinf">用户名</label></td>
				<td><input class="base-input" id="name" name="name"></td>
			</tr>
			<tr>
				<td><label>密码</label></td>
				<td><input type="password" class="base-input" name="password"></td>
			</tr>
			<tr>
	            <td><label>验证码</label></td>        
	            <td class="width70"><input name="imageCode" type="text" class="imagecode" /></td>
	        </tr>
			<tr>
				<td colspan="2"><input type="submit" class="submit" value="登录">
					&nbsp;&nbsp;<a href="@routes.Users.register">注册</a>
				</td>
			</tr>
		</table>
		<div class="otheruser">
			
		</div>
		}
		
		
		
	
	
}