@()

@for(i <- 1 to 5){
    <!-- ↓coupon -->
    <div class="mT10">
        <table summary="summary" cellspacing="1" class="mT2 wFull bgLGray6 fs10 couponTable">
            <tbody>
                <tr>
                    <td class="bgPink8 fgWhite bd0 taC p5 fs12 b">
                        <font>
                            <font>
                                新
                            </font>
                        </font>
                        <br>
                        <font>
                            <font>
                                法规
                            </font>
                        </font>
                    </td>
                    <td class="w554 bgWhite">
                        <div class="w534 p10">
                            <div class="">
                                <div class="">
                                    <ul class="couponMenuIcons fs10 cFix">
                                        <li class="couponMenuIcon mB5">
                                            <font>
                                                <font>
                                                    切
                                                </font>
                                            </font>
                                        </li>
                                        <li class="couponMenuIcon mB5">
                                            <font>
                                                <font>
                                                    治疗
                                                </font>
                                            </font>
                                        </li>
                                        <li class="couponMenuIcon mB5">
                                            <font>
                                                <font>
                                                    其他
                                                </font>
                                            </font>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mT5 b fs12 cFix">
                                    <p class="fl">
                                        <a href="http://beauty.hotpepper.jp/slnH000231733/coupon/#couponList"
                                        class="db lh23 b">
                                            <font>
                                                <font>
                                                    [兄弟公司☆宝石]小脸斩+香薰头部按摩5250日元允许西装
                                                </font>
                                            </font>
                                        </a>
                                    </p>
                                    <p class="fr fgRed">
                                        <span class="fs13">
                                            <font>
                                                <font>
                                                    5250日元
                                                </font>
                                            </font>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <dl class="mT10">
                                <dt class="di fgPink">
                                    <font>
                                        <font>
                                            演示条件：
                                        </font>
                                    </font>
                                </dt>
                                <dd class="di mR10 pR10 fgGray bdLGrayR">
                                    <font>
                                        <font>
                                            在预订时间
                                        </font>
                                    </font>
                                </dd>
                                <dt class="di fgPink">
                                    <font>
                                        <font>
                                            条款及细则：
                                        </font>
                                    </font>
                                </dt>
                                <dd class="di mR10 pR10 fgGray bdLGrayR">
                                    <font>
                                        <font>
                                            你看到的HOTPEPPER美容♪字
                                        </font>
                                    </font>
                                </dd>
                                <dt class="di fgPink">
                                    <font>
                                        <font>
                                            到期日：
                                        </font>
                                    </font>
                                </dt>
                                <dd class="di mR20 fgGray">
                                    <font>
                                        <font>
                                            直到2014年3月31日
                                        </font>
                                    </font>
                                </dd>
                            </dl>
                        </div>
                    </td>
                    <td class="bdWhite bgLLGray2 vaM">
                        <div class=" pV10 fs12">
                            <div>
                                <a href="@controllers.reservation.routes.Reservations.reservSelectDate"
                                class="btn btn2H50 btnWlines w146 mHA">
                                    <span>
                                        <span>
                 此优惠券<br>     
                                                    我要检查空座位
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="mT8 taC">
                                <a href="http://beauty.hotpepper.jp/CSP/bt/reserve/?storeId=H000231733&amp;couponId=CP00000003458772&amp;add=1&amp;addMenu=1&amp;rootCd=10"
                                class="iS arrowR">
                                    <font>
                                        <font>
                                            本书通过增加一个菜单
                                        </font>
                                    </font>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ↑coupon -->
	}